.background {
  background-color: #919191;
  width: 100%;
  height: 100vh;
}

.center-align-items {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  height: 100vh;
}

/* Upper Box Header */
.top-box-header {
  display: flex;
  align-items: center;
  margin-top: -50px;
  justify-content: space-between; /* pushes X to the right */
  width: 100%; /* or a fixed width */
  padding: 0 10px;
}

/* Boxes */
.reset-password-box {
  background-color: #c4c4c4;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 350px;
  max-width: 100%;
}

.text-box {
  width: 300px;
  height: 40px;
  margin: 10px 0;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  box-sizing: border-box;
}

/* Texts */
.reset-password-text {
  /* margin-top: -20px; */
  font-size: 34px;
  font-weight: bolder;
  color: #000000;
  text-align: center;
}

/* Buttons */
.close-btn {
  background: none;
  border: none;
  font-size: 28px;
  font-weight: bold;
  /* margin-top: -20px; */
  cursor: pointer;
  color: #333;
  padding: 5px 10px;
  transition: 0.2s ease;
}

.close-btn:hover {
  color: red;
  transform: scale(1.1);
}

.close-btn:hover:active {
  color: rgb(163, 0, 0);
  transform: scale(0.98);
}

.reset-password-button {
  width: 300px;
  height: 40px;
  margin-top: 20px;
  background-color: #1a5dac;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
  transition: 0.2s ease;
}

.reset-password-button:hover {
  background-color: #154a8a;
  transform: scale(1.01);
}

.reset-password-button:hover:active {
  transform: scale(0.98);
}
